.ng-valid[required], .ng-valid.required  {
  border-left: 7px solid green;
}
  
.ng-invalid:not(form)  {
  border-left: 7px solid red;
}

.button-row {
  width: 355px;
  display: flex;
  justify-content: space-between;
}

.borderless {
  border: 0px;
  outline: 0px;
}