<div id="content-mobile">
    <mat-accordion>
        <mat-expansion-panel class="black-theme">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter
            </mat-panel-title>
            <mat-panel-description>
              Filter deine Ausgaben
            </mat-panel-description>
          </mat-expansion-panel-header>
    
        <mat-form-field>
            <mat-label>Gründe</mat-label>
            <mat-select [formControl]="reasonsControl" multiple>
                <mat-option *ngFor="let reason of usedReasons" [value]="reason">{{reason}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Monat</mat-label>
            <mat-select [formControl]="monthControl">
                <mat-option *ngFor="let month of usedMonths" [value]="month">{{month}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select [formControl]="tagsControl" multiple>
                <mat-option *ngFor="let tag of usedTags" [value]="tag">{{tag.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        </mat-expansion-panel>  
    </mat-accordion>
</div>

<div id="content-desktop" class="filter-border">
    <mat-form-field>
        <mat-label>Gründe</mat-label>
        <mat-select [formControl]="reasonsControl" multiple>
            <mat-option *ngFor="let reason of usedReasons" [value]="reason">{{reason}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Monat</mat-label>
        <mat-select [formControl]="monthControl">
            <mat-option *ngFor="let month of usedMonths" [value]="month">{{month}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select [formControl]="tagsControl" multiple>
            <mat-option *ngFor="let tag of usedTags" [value]="tag">{{tag.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button id="content-desktop" [routerLink]="['/expense/add']">
    Hinzufügen
    </button>
</div>