<div *ngIf="responsiveDesignService.isMobile() | async">
    <mat-accordion>
        <mat-expansion-panel class="black-theme">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filter
            </mat-panel-title>
            <mat-panel-description>
              Filter deine Ausgaben
            </mat-panel-description>
          </mat-expansion-panel-header>
    
        <mat-form-field>
            <mat-label>Gründe</mat-label>
            <mat-select [formControl]="reasonsControl" [(ngModel)]="selectedReasons" multiple>
                <mat-option *ngFor="let reason of utilizedReasons" [value]="reason" (click)="onReasonsChange()">{{reason}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Monat</mat-label>
            <mat-select [formControl]="monthControl" [(ngModel)]="selectedMonth">
                <mat-option *ngFor="let month of utilizedMonths" [value]="month" (click)="onMonthChange()">{{month}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tags</mat-label>
            <mat-select [formControl]="tagsControl" [(ngModel)]="selectedTags" multiple>
                <mat-option *ngFor="let tag of utilizedTags" [value]="tag" (click)="onTagsChange()">{{tag}}</mat-option>
            </mat-select>
        </mat-form-field>

        </mat-expansion-panel>  
    </mat-accordion>
</div>

<div *ngIf="!(responsiveDesignService.isMobile() | async)" class="filter-border">
    <label>
        Filter:
    </label>
    <mat-form-field>
        <mat-label>Gründe</mat-label>
        <mat-select [formControl]="reasonsControl" [(ngModel)]="selectedReasons" multiple>
            <mat-option *ngFor="let reason of utilizedReasons" [value]="reason" (click)="onReasonsChange()">{{reason}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Monat</mat-label>
        <mat-select [formControl]="monthControl" [(ngModel)]="selectedMonth">
            <mat-option *ngFor="let month of utilizedMonths" [value]="month" (click)="onReasonsChange()">{{month}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-select [formControl]="tagsControl" [(ngModel)]="selectedTags" multiple>
            <mat-option *ngFor="let tag of utilizedTags" [value]="tag" (click)="onTagsChange()">{{tag}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button id="content-desktop" [routerLink]="['/expense/add']" (click)="onAdd()">
    Hinzufügen
    </button>
</div>