/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: white;}

.black-lightblue-snackbar {
    background: lightgray;
    color: blue;
}

.flex-container {
    display: flex;
    justify-content: center;
}

#content-desktop {
    display: flex;
    justify-content: center;
}
#content-mobile {
    display: none;
}

.form-dialog {
    max-width: 500px;
    background-color: grey;
    height: 100%;
}

.custom-dialog-container .mat-dialog-container {
    padding: 0px !important;
}

/*Mobile and Tablet version*/
@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: flex;
        justify-content: center;
    }
    .form-dialog {
        background-color: grey; 
    }
}
