<app-expenses-filter></app-expenses-filter>
<div class="table-container">
    <table mat-table [dataSource]="expenses" matSort>

        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let expense"> {{expense.id}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AUSGABE </th>
            <td mat-cell *matCellDef="let expense"> {{expense.amount.value | currency: expense.amount.currency}} </td>
        </ng-container>
  
        <!-- Reason Column -->
        <ng-container matColumnDef="reason">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> GRUND </th>
            <td mat-cell *matCellDef="let expense"> {{expense.reason}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> DATUM </th>
            <td mat-cell *matCellDef="let expense"> {{expense.date | date:'dd MMMM yyyy'}} </td>
        </ng-container>

        <!-- ExchangeValue Column -->
        <ng-container matColumnDef="exchangeValue">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> WERT VOR UMRECHNUNG </th>
            <td mat-cell *matCellDef="let expense"> {{expense.exchangeValue.value | currency: expense.exchangeValue.currency}} </td>
        </ng-container>

        <!-- ExchangeRate Column -->
        <ng-container matColumnDef="exchangeRate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> WECHSELRATE </th>
            <td mat-cell *matCellDef="let expense"> {{expense.exchangeRate}} </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

         <!-- Tag Column -->
        <ng-container matColumnDef="tag">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> TAG </th>
            <td mat-cell *matCellDef="let expense"> 
                <mat-chip-list #tagList aria-label="Fruit selection">
                    <mat-chip *ngFor="let tag of expense.tags">
                      {{tag.name}}
                    </mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <!-- More Column -->
        <ng-container matColumnDef="more" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let index = index">
                <button mat-icon-button id="more" (click)="onShowDialog($event, index)">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div id="footer-row">
    <div id="footer-total">TOTAL</div>
    <div id="footer-value">{{getTotalCost() | currency: 'EUR'}}</div>
</div>

<button mat-fab class="add-button mobile-position-add-button" id="content-mobile"
    [routerLink]="['/expense/add']">
    <mat-icon>add</mat-icon>
</button>