.table-container {
    height: 92%;
    overflow: auto;
    border-width: 5px 5px 0px 5px;
    border-style: solid;
    border-color: lightgray;
}

table {
    min-width: 800px;
    width: 100%;
    background-color: dodgerblue;
}

th {
    font-weight: bold;
    color: white;
}

.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}

th.mat-column-position, td.mat-column-position {
    padding-left: 25px;
}

td.mat-column-star {
    width: 20px;
    padding-right: 8px;
}

#footer-row {
    display: flex;
    height: 8%;
    width: 100%;
    align-items: center;
    justify-content: space-start;
    color: white;
    background-color: dodgerblue;
    border-width: 2px 5px 5px 5px;
    border-style: solid;
    border-color: lightgray;
}

#footer-total {
    padding: 10px;
}

#footer-value {
    padding: 5px;
}

.add-button {
    background-color: green;
    color: white;
    z-index: 100;
}

.mobile-position-add-button {
    position: fixed;
    bottom: 5px;
    right: 5px;
}